## Importing the libraries

In [75]:
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly.express as px

## Importing the dataset

In [76]:
df = pd.read_csv("Subnational_total_final_energy_consumption_statistics.csv")
df

,LAUA,NAME,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,Manufactured_Industrial,...,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT,UNIT,YEAR
0,DUKES,UK Energy Consumption as in DUKES (7),17114.708000,48.380800,5510.061400,33.959600,308.311300,70.012600,23085.433700,18980.508900,...,344615.275400,4717.709500,3696.014000,8413.723500,1.793459e+06,736327.747700,555372.972400,501758.556100,GWh,2005
1,E06000001,Hartlepool,0.012138,0.006589,2.151979,0.000000,0.016881,0.006931,2.194518,270.446960,...,549.319790,0.000000,5.720947,5.720947,3.040881e+03,1606.705001,884.505859,549.670349,GWh,2005
2,E06000002,Middlesbrough,0.000000,0.000000,2.484705,0.000000,0.000000,0.000000,2.484705,2.495918,...,797.818000,0.000000,9.180602,9.180602,3.505166e+03,1080.430820,1301.839278,1122.895561,GWh,2005
3,E06000003,Redcar and Cleveland,2199.934728,0.044696,7.535284,0.000000,0.529723,0.040675,2208.085106,6263.301108,...,1263.692540,374.079009,9.740853,383.819862,2.020894e+04,18112.536497,1350.666837,745.741528,GWh,2005
4,E06000004,Stockton-on-Tees,48.104522,0.025729,3.942552,0.000000,0.850506,0.016963,52.940272,4.654302,...,1297.500950,0.000000,10.769233,10.769233,8.685977e+03,5554.653188,1788.815034,1342.509096,GWh,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11333,W06000022,Newport,0.151298,0.003931,0.799054,0.000000,0.021954,0.000000,0.976238,3.489335,...,70.158910,0.000000,6.442499,6.442499,3.876288e+02,156.319902,94.238005,137.070926,KTOE,2018
11334,W06000023,Powys,1.852987,0.053599,5.330306,0.232249,0.135151,0.000000,7.604292,0.518954,...,50.531976,0.000000,11.876122,11.876122,3.092876e+02,100.593291,109.373829,99.320528,KTOE,2018
11335,W06000024,Merthyr Tydfil,0.017497,0.003052,0.724337,0.012224,0.025263,0.000000,0.782372,0.000000,...,17.837610,0.000000,2.877484,2.877484,1.037446e+02,33.301148,42.959519,27.483899,KTOE,2018
11336,W92000004,WALES,141.290992,0.647730,49.290150,1.878140,1.752591,0.000000,194.859603,626.371421,...,1269.236490,244.295556,180.486146,424.781703,7.805385e+03,3735.352378,2159.590070,1910.442425,KTOE,2018
11337,W92000004,Wales,141.290992,0.647730,49.290150,1.878140,1.752591,0.000000,194.859603,626.371421,...,1269.236490,244.295556,180.486146,424.781703,7.805385e+03,3735.352378,2159.590070,1910.442425,KTOE,2018

# Preprocessing the dataset

## Filtering rows with GWh units

In [77]:
# Filter DataFrame based on values of the UNIT column
df = df[df["UNIT"] == "GWh"]

## Filtering only regions

In [78]:
# Filter by values in all caps
df = df[df["NAME"].str.isupper()]
df["NAME"].unique()

array(['NORTH EAST', 'NORTH WEST', 'YORKSHIRE AND THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND',
       'GREATER LONDON', 'SOUTH EAST', 'SOUTH WEST', 'INNER LONDON',
       'OUTER LONDON', 'NORTHERN IRELAND', 'SCOTLAND', 'WALES'],
      dtype=object)

## Making the dataset easier to look at

It's not required but we're going to 

- drop the LAUA column
- reorder the columns
- title the region and column names
- reset the index 

to make our dataset a little easier to look at

In [79]:
# Drop the LAUA column
df = df.drop(columns=["LAUA"])

# Reorder the columns 
descriptive_columns = ["YEAR", "NAME", "UNIT"]
other_columns = [col for col in df.columns if col not in descriptive_columns]
all_columns = descriptive_columns + other_columns
df = df[all_columns]

# Title the columns and region names
df = regions_df.rename(columns={col: col.title() for col in descriptive_columns})
df["Name"] = df["Name"].str.title()

# Reset the index 
df = df.reset_index(drop=True)

df

,Year,Name,Unit,Coal_Industrial,Coal_Commercial,Coal_Domestic,Coal_Rail,Coal_Public,Coal_Agriculture,Total_COAL,...,Electricity_Commercial,Electricity_Domestic,Electricity_Total,Bioenergy_Commercial,Bioenergy_Domestic,Bioenergy_All,ALL_FUELS_TOTAL,SECTOR_INDUSTRIAL,SECTOR_DOMESTIC,SECTOR_TRANSPORT
0,2005,North East,GWh,2297.649215,1.112043,115.963095,0.273365,12.402643,1.518656,2428.919016,...,9348.810390,4548.283660,13897.094050,1049.681933,119.826455,1169.508388,89449.750440,46257.965790,26089.541108,17102.243542
1,2005,North West,GWh,1395.225058,3.511898,522.212327,1.231079,134.443877,4.148214,2060.772454,...,23114.857600,13177.371500,36292.229100,678.012751,969.454551,1647.467301,205412.467820,83525.853676,70198.185838,51688.428303
2,2005,Yorkshire And The Humber,GWh,682.472321,4.465117,433.942483,5.615965,82.030040,4.234396,1212.760322,...,17032.169890,9803.601540,26835.771430,270.045106,558.781593,828.826700,177096.818960,85571.930854,51854.576698,39670.311409
3,2005,East Midlands,GWh,2625.540229,3.918048,451.609119,1.458153,121.017427,5.515470,3209.058446,...,15294.368770,8643.985870,23938.354640,1116.451460,457.318067,1573.769528,129818.692630,49034.419177,43105.719933,37678.553520
4,2005,West Midlands,GWh,2162.815358,3.594876,388.935899,1.399769,132.410693,6.698387,2695.854982,...,16938.804250,10315.216870,27254.021120,491.276359,614.293218,1105.569577,148797.902080,52276.686340,51482.331182,45038.884558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2018,Inner London,GWh,0.000000,0.000000,10.168614,0.000000,0.000000,0.000000,10.168614,...,15628.970815,5054.941727,20683.912542,42.057930,373.484958,415.542888,57619.688287,28851.431876,19650.587625,9117.668789
192,2018,Outer London,GWh,0.549547,0.034612,28.657310,0.040617,0.020040,0.000000,29.302126,...,9617.541238,7498.537010,17116.078249,105.715035,1027.663065,1133.378100,72856.979311,19443.902126,35516.244961,17896.832223
193,2018,Northern Ireland,GWh,1707.474267,8.074550,457.953554,0.067956,31.147020,0.000000,2204.717346,...,4707.850676,2898.674199,7606.524875,270.035218,1809.740781,2079.775998,47923.109818,18156.994215,15515.064510,14251.051093
194,2018,Scotland,GWh,873.762153,10.243564,505.146880,4.246857,20.367114,0.000000,1413.766568,...,14509.382710,9686.092212,24195.474920,3494.854044,1579.253651,5074.107695,147403.156840,65048.448738,43561.946758,38792.761341
195,2018,Wales,GWh,1643.214237,7.533099,573.244445,21.842763,20.382635,0.000000,2266.217179,...,9897.825590,4863.394793,14761.220380,2841.157319,2099.053884,4940.211202,90776.626068,43442.148156,25116.032508,22218.445409

## Creating some hierarchical

In [87]:
year_df = df.set_index(["Year", "Name"])
year_df

                              Unit  Coal_Industrial  Coal_Commercial  \
Year Name
2005 North East                GWh      2297.649215         1.112043
     North West                GWh      1395.225058         3.511898
     Yorkshire And The Humber  GWh       682.472321         4.465117
     East Midlands             GWh      2625.540229         3.918048
     West Midlands             GWh      2162.815358         3.594876
...                            ...              ...              ...
2018 Inner London              GWh         0.000000         0.000000
     Outer London              GWh         0.549547         0.034612
     Northern Ireland          GWh      1707.474267         8.074550
     Scotland                  GWh       873.762153        10.243564
     Wales                     GWh      1643.214237         7.533099

                               Coal_Domestic  Coal_Rail  Coal_Public  \
Year Name
2005 North East                   115.963095   0.273365    12.402643
     North West                   522.212327   1.231079   134.443877
     Yorkshire And The Humber     433.942483   5.615965    82.030040
     East Midlands                451.609119   1.458153   121.017427
     West Midlands                388.935899   1.399769   132.410693
...                                      ...        ...          ...
2018 Inner London                  10.168614   0.000000     0.000000
     Outer London                  28.657310   0.040617     0.020040
     Northern Ireland             457.953554   0.067956    31.147020
     Scotland                     505.146880   4.246857    20.367114
     Wales                        573.244445  21.842763    20.382635

                               Coal_Agriculture   Total_COAL  \
Year Name
2005 North East                        1.518656  2428.919016
     North West                        4.148214  2060.772454
     Yorkshire And The Humber          4.234396  1212.760322
     East Midlands                     5.515470  3209.058446
     West Midlands                     6.698387  2695.854982
...                                         ...          ...
2018 Inner London                      0.000000    10.168614
     Outer London                      0.000000    29.302126
     Northern Ireland                  0.000000  2204.717346
     Scotland                          0.000000  1413.766568
     Wales                             0.000000  2266.217179

                               Manufactured_Industrial  Manufactured_Domestic  \
Year Name
2005 North East                            6971.126899              73.093869
     North West                            3556.016236             399.705581
     Yorkshire And The Humber             14682.952014             291.638217
     East Midlands                         1617.183571             283.126011
     West Midlands                          733.178770             280.012458
...                                                ...                    ...
2018 Inner London                            17.354325              29.465220
     Outer London                             7.133971              81.864451
     Northern Ireland                        22.573370             296.811364
     Scotland                               827.101548             308.113265
     Wales                                 7284.699625             363.843373

                               ...  Electricity_Commercial  \
Year Name                      ...
2005 North East                ...             9348.810390
     North West                ...            23114.857600
     Yorkshire And The Humber  ...            17032.169890
     East Midlands             ...            15294.368770
     West Midlands             ...            16938.804250
...                            ...                     ...
2018 Inner London              ...            15628.970815
     Outer London              ...             9617.541238
     Northern Ireland          ...             4707.850676
     Scotland                  ...            14509.382710
     Wales                     ...             9897.825590

                               Electricity_Domestic  Electricity_Total  \
Year Name
2005 North East                         4548.283660       13897.094050
     North West                        13177.371500       36292.229100
     Yorkshire And The Humber           9803.601540       26835.771430
     East Midlands                      8643.985870       23938.354640
     West Midlands                     10315.216870       27254.021120
...                                             ...                ...
2018 Inner London                       5054.941727       20683.912542
     Outer London                       7498.537010       17116.078249
     Northern Ireland                   2898.674199        7606.524875
     Scotland                           9686.092212       24195.474920
     Wales                              4863.394793       14761.220380

                               Bioenergy_Commercial  Bioenergy_Domestic  \
Year Name
2005 North East                         1049.681933          119.826455
     North West                          678.012751          969.454551
     Yorkshire And The Humber            270.045106          558.781593
     East Midlands                      1116.451460          457.318067
     West Midlands                       491.276359          614.293218
...                                             ...                 ...
2018 Inner London                         42.057930          373.484958
     Outer London                        105.715035         1027.663065
     Northern Ireland                    270.035218         1809.740781
     Scotland                           3494.854044         1579.253651
     Wales                              2841.157319         2099.053884

                               Bioenergy_All  ALL_FUELS_TOTAL  \
Year Name
2005 North East                  1169.508388     89449.750440
     North West                  1647.467301    205412.467820
     Yorkshire And The Humber     828.826700    177096.818960
     East Midlands               1573.769528    129818.692630
     West Midlands               1105.569577    148797.902080
...                                      ...              ...
2018 Inner London                 415.542888     57619.688287
     Outer London                1133.378100     72856.979311
     Northern Ireland            2079.775998     47923.109818
     Scotland                    5074.107695    147403.156840
     Wales                       4940.211202     90776.626068

                               SECTOR_INDUSTRIAL  SECTOR_DOMESTIC  \
Year Name
2005 North East                     46257.965790     26089.541108
     North West                     83525.853676     70198.185838
     Yorkshire And The Humber       85571.930854     51854.576698
     East Midlands                  49034.419177     43105.719933
     West Midlands                  52276.686340     51482.331182
...                                          ...              ...
2018 Inner London                   28851.431876     19650.587625
     Outer London                   19443.902126     35516.244961
     Northern Ireland               18156.994215     15515.064510
     Scotland                       65048.448738     43561.946758
     Wales                          43442.148156     25116.032508

                               SECTOR_TRANSPORT
Year Name
2005 North East                    17102.243542
     North West                    51688.428303
     Yorkshire And The Humber      39670.311409
     East Midlands                 37678.553520
     West Midlands                 45038.884558
...                                         ...
2018 Inner London                   9117.668789
     Outer London                  17896.832223
     Northern Ireland              14251.051093
     Scotland                      38792.761341
     Wales                         22218.445409

[196 rows x 32 columns]

In [124]:
# region_df = df.set_index(["Name", "Year"])
region_df = df.set_index(["Name", "Year"]).sort_values(["Name", "Year"])
region_df

                              Unit  Coal_Industrial  Coal_Commercial  \
Name                     Year
East Midlands            2005  GWh      2625.540229         3.918048
                         2006  GWh      2585.519524         5.536276
                         2007  GWh      2628.348570         4.023811
                         2008  GWh      2828.053470         7.186679
                         2009  GWh      2613.805362        31.543661
...                            ...              ...              ...
Yorkshire And The Humber 2014  GWh      1432.245062         6.693615
                         2015  GWh      1224.738575         6.276364
                         2016  GWh      1110.941578         6.100111
                         2017  GWh      1039.658397         6.077961
                         2018  GWh       857.758207         6.077961

                               Coal_Domestic  Coal_Rail  Coal_Public  \
Name                     Year
East Midlands            2005     451.609119   1.458153   121.017427
                         2006     406.966605   6.853320   115.548669
                         2007     466.483877   6.853320   119.585033
                         2008     493.650152   6.853320   121.471507
                         2009     494.067543   6.836552   140.922982
...                                      ...        ...          ...
Yorkshire And The Humber 2014     382.970363  18.296315    47.803017
                         2015     385.546394  18.296315     6.278426
                         2016     383.489719  21.111132     6.302447
                         2017     373.663013  21.037446     7.937149
                         2018     361.562583  21.037446     8.597627

                               Coal_Agriculture   Total_COAL  \
Name                     Year
East Midlands            2005          5.515470  3209.058446
                         2006          2.978064  3123.402458
                         2007          2.382451  3227.677062
                         2008          2.902103  3460.117230
                         2009          0.000000  3287.176101
...                                         ...          ...
Yorkshire And The Humber 2014          0.000000  1888.008372
                         2015          0.000000  1641.136074
                         2016          0.000000  1527.944988
                         2017          0.000000  1448.373966
                         2018          0.000000  1255.033823

                               Manufactured_Industrial  Manufactured_Domestic  \
Name                     Year
East Midlands            2005              1617.183571             283.126011
                         2006              1702.131127             270.865562
                         2007              1324.001196             246.897545
                         2008              1031.904385             294.349543
                         2009               796.706974             219.855468
...                                                ...                    ...
Yorkshire And The Humber 2014              8827.164522             229.358951
                         2015              9158.917689             222.364665
                         2016              8981.383580             219.467445
                         2017              8284.918367             238.484505
                         2018              8410.794239             242.562476

                               ...  Electricity_Commercial  \
Name                     Year  ...
East Midlands            2005  ...            15294.368770
                         2006  ...            14989.232460
                         2007  ...            14119.657360
                         2008  ...            14180.482260
                         2009  ...            13158.150355
...                            ...                     ...
Yorkshire And The Humber 2014  ...            15159.070000
                         2015  ...            14716.515770
                         2016  ...            14156.347190
                         2017  ...            14440.582220
                         2018  ...            14671.446760

                               Electricity_Domestic  Electricity_Total  \
Name                     Year
East Midlands            2005           8643.985870       23938.354640
                         2006           8510.264130       23499.496590
                         2007           8517.695700       22637.353060
                         2008           8095.526700       22276.008960
                         2009           8026.733278       21184.883639
...                                             ...                ...
Yorkshire And The Humber 2014           8649.190000       23808.270000
                         2015           8560.881860       23277.397630
                         2016           8386.885505       22543.232700
                         2017           8310.273334       22750.855550
                         2018           8082.119415       22753.566180

                               Bioenergy_Commercial  Bioenergy_Domestic  \
Name                     Year
East Midlands            2005           1116.451460          457.318067
                         2006           1169.603697          477.650071
                         2007           1481.790516          484.265120
                         2008           1765.849970          574.703193
                         2009           1652.356703          626.091614
...                                             ...                 ...
Yorkshire And The Humber 2014            241.684201         1218.588031
                         2015            677.484997         1376.631257
                         2016            710.777939         1479.284676
                         2017            595.568001         1470.437108
                         2018            572.899546         1606.653902

                               Bioenergy_All  ALL_FUELS_TOTAL  \
Name                     Year
East Midlands            2005    1573.769528     129818.69263
                         2006    1647.253767     127256.06489
                         2007    1966.055637     125036.75894
                         2008    2340.553164     121063.75455
                         2009    2278.448318     114973.83413
...                                      ...              ...
Yorkshire And The Humber 2014    1460.272232     143798.17836
                         2015    2054.116253     142385.73007
                         2016    2190.062614     141523.70915
                         2017    2066.005109     142629.37357
                         2018    2179.553448     143300.95977

                               SECTOR_INDUSTRIAL  SECTOR_DOMESTIC  \
Name                     Year
East Midlands            2005       49034.419177     43105.719933
                         2006       46757.251773     42019.769500
                         2007       44811.792715     41229.275373
                         2008       42924.551517     39954.450907
                         2009       40158.856732     37573.445744
...                                          ...              ...
Yorkshire And The Humber 2014       64570.010637     41209.288856
                         2015       63159.376011     40948.805712
                         2016       62281.488222     40682.210020
                         2017       62640.634065     41715.146269
                         2018       63520.455835     41480.370410

                               SECTOR_TRANSPORT
Name                     Year
East Midlands            2005      37678.553520
                         2006      38479.055249
                         2007      38995.679223
                         2008      38184.752121
                         2009      37241.531650
...                                         ...
Yorkshire And The Humber 2014      38018.868879
                         2015      38277.548346
                         2016      38560.010889
                         2017      38273.593235
                         2018      38300.133520

[196 rows x 32 columns]